 html {
  font-size: 14px;
  height: 100%;      
}
body {
  height: 100%;   
  margin: 0px;
  padding: 0px;
  background: #FFFFFF url(images/baby.jpg) no-repeat fixed;   
  background-position:50% 50%;  /* Sets reference point to scale from */
  background-size:cover; 

}

#giftchecklist {
  width: 90%;
  height: 100%;
  border-radius: 5;
}

.padded{
  padding:20px;
}
