 html {
  font-size: 14px;
  height: 100%;      
}
body {
  height: 100%;   
  margin: 0px;
  padding: 0px;
  background: #FFFFFF url(images/baby.jpg) no-repeat fixed;   
  background-position:50% 50%;  /* Sets reference point to scale from */
  background-size:cover; 

}

#giftcheckout {
  width: 60%;
  border-radius: 5;
  padding:5px 0px 15px 0px;
}
#bold {
  font-weight: bold;
}
#transparentbox {
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.8;
  filter: alpha(opacity=60);
}
#nontransparent h5 {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}